@model Weather.MVC.ViewModels.ForecastViewModel
@{ 
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inputCity">
    <h1>Weather</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.LabelFor(model => model.CityName)
        @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        @Html.ValidationMessageFor(model => model.CityName, String.Empty, new { @class = "text-danger" })
        <input type="submit" value="send" />
    }

</div>

<div class="weatherResult">

    @if (Model != null && Model.HasWeather)
    {
        foreach (var weather in Model.WeatherDays)
        {
            @Html.DisplayFor(modelItem => weather.TempDay)
        }

    }

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>



