@model Weather.MVC.ViewModels.ForecastViewModel
@{ 
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inputCity">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.LabelFor(model => model.CityName)
        @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        @Html.ValidationMessageFor(model => model.CityName, String.Empty, new { @class = "text-danger" })
        <input class="button" type="submit" value="Get Weather" />
        if (TempData["error"] != null)
        {
            <div class="alert-box success">
                <a href="" class="close">×</a>
                @TempData["error"]
            </div>
        }
    }

</div>

<div class="weatherResult">

    @if (Model != null && Model.HasWeather)
    {
        <table style="width:100%">
            <tr>
                @foreach (var day in Model.WeekDays)
                {
                    <th>
                        @Html.DisplayFor(modelItem => day)
                    </th>
                }
            </tr>
            <tr>
                @foreach (var weather in Model.WeatherDays)
                {
                    <td>
                        <div class="weather">@Html.DisplayFor(modelItem => weather.Weather)</div>
                        <img src="~/Content/pictures/@Html.DisplayFor(modelItem => weather.WeatherIcon)" />
                        <div class="C">
                            <div class="day">@Html.DisplayFor(modelItem => weather.TempDay)°</div>
                            <div class="night">@Html.DisplayFor(modelItem => weather.TempNight)°</div>
                        </div>
</td>
                }
            </tr>
        </table>
        

    }

    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>



