@model List<Weather.Domain.City>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inputCity">
    <h1>Weather</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    }

</div>

<div class="weatherResult">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <table>

                <tr>
                    @foreach (var key in item.weatherDays)
                    {
                        <th>@Html.DisplayFor(modelItem => key)</th>
                    }
                </tr>

                <tr>
                    @foreach (var key in item.weather)
                    {
                    <td>
                        <div class="weather">@Html.DisplayFor(modelItem => key.Weather)</div>
                        <img src="~/Content/pictures/@Html.DisplayFor(modelItem => key.WeatherIcon)" />
                        <div class="day">@Html.DisplayFor(modelItem => key.TempDay)°</div>
                        <div class="night">@Html.DisplayFor(modelItem => key.TempNight)°</div>
                    </td>
                    }
                </tr>
            </table>
        }
    }
</div>



